<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\PharmaSmartWeb.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="DATABASE_URL" value="mysql://avnadmin:AVNS_CjCB15-YQ7CDnj2Y1nE@mysql-339e0886-pharmaanalysis12.a.aivencloud.com:12948/defaultdb?ssl-mode=REQUIRED" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: FB19302E-3A7B-4856-9DCC-2C0F0D3B7CF9-->